<<<<<<< HEAD

=======
>>>>>>> 7ff6079fa443eeb8e7a692cb30697ec1f414ea5c
.main-container {
    background-image: url("./images/architect.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    
}


.up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    
}

.a{
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 0px;
}

.b {
    color: white;
    margin: 0;
}
<<<<<<< HEAD
=======





>>>>>>> 7ff6079fa443eeb8e7a692cb30697ec1f414ea5c
.container{
    
    height:100%;
    margin: 10px;
    
}
.box1,.box2,.box3,.box3,.box4,.box5,.box6,.box7,.box8{
    
    display: inline-block;
    width:281px;
    margin:10px;
    position: relative;

}
img{
    width:100%;
    margin:0;
    padding:0;
}
p{
    position:absolute;
    z-index: 1;
    top:0px;
    left:0px;
    margin: 0;
    background-color: black;
    color:white;
    height: 25px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    line-height: 3px;
    font-size: 20px; 
}
